In [1]:
import pandas as pd

In [2]:
url = 'https://tsjshg.info/tables.html'

In [11]:
dframe_list = pd.read_html(url)

In [12]:
len(dframe_list)

2

In [13]:
dframe_list[0]

     名前   種類
0  いよかん  柑橘類
1  でこぽん  柑橘類
2    ヒレ   牛肉
3   ロース   牛肉

In [14]:
dframe_list[1]

        車種   メーカー
0      911   ポルシェ
1  718ケイマン   ポルシェ
2   ミュルザンヌ  ベントレー
3     ゴースト  ベントレー