In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
d_range = pd.date_range(start='2020/1/1', end='2020/1/8')
names = list('ABCD')
temp = {'value':[], 'variable':[], 'date': []}

for name in names:
    for day in d_range:
        temp['value'].append(np.random.random())
        temp['variable'].append(name)
        temp['date'].append(day)
        
dframe = pd.DataFrame(temp)

In [4]:
dframe

       value variable       date
0   0.076075        A 2020-01-01
1   0.283017        A 2020-01-02
2   0.406962        A 2020-01-03
3   0.620633        A 2020-01-04
4   0.564608        A 2020-01-05
5   0.651508        A 2020-01-06
6   0.629981        A 2020-01-07
7   0.447693        A 2020-01-08
8   0.136852        B 2020-01-01
9   0.027511        B 2020-01-02
10  0.406389        B 2020-01-03
11  0.414760        B 2020-01-04
12  0.719379        B 2020-01-05
13  0.195023        B 2020-01-06
14  0.611365        B 2020-01-07
15  0.917353        B 2020-01-08
16  0.449271        C 2020-01-01
17  0.394331        C 2020-01-02
18  0.658745        C 2020-01-03
19  0.967324        C 2020-01-04
20  0.270194        C 2020-01-05
21  0.266352        C 2020-01-06
22  0.812684        C 2020-01-07
23  0.936326        C 2020-01-08
24  0.945611        D 2020-01-01
25  0.839948        D 2020-01-02
26  0.659586        D 2020-01-03
27  0.729089        D 2020-01-04
28  0.566870        D 2020-01-05
29  0.101682        D 2020-01-06
30  0.893312        D 2020-01-07
31  0.690723        D 2020-01-08

In [8]:
dframe_piv = dframe.pivot(index='date', columns='variable', values='value')
dframe_piv

variable           A         B         C         D
date
2020-01-01  0.076075  0.136852  0.449271  0.945611
2020-01-02  0.283017  0.027511  0.394331  0.839948
2020-01-03  0.406962  0.406389  0.658745  0.659586
2020-01-04  0.620633  0.414760  0.967324  0.729089
2020-01-05  0.564608  0.719379  0.270194  0.566870
2020-01-06  0.651508  0.195023  0.266352  0.101682
2020-01-07  0.629981  0.611365  0.812684  0.893312
2020-01-08  0.447693  0.917353  0.936326  0.690723