In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn
from pandas import Series, DataFrame

In [4]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2=ser1.reindex(['A','B','C','D','E','F'])

In [9]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [13]:
ser3 = Series(['USA', 'Mexic', 'Canada'], index=[0, 5, 10])
ser3

0        USA
5      Mexic
10    Canada
dtype: object

In [14]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5      Mexic
6      Mexic
7      Mexic
8      Mexic
9      Mexic
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
drame = DataFrame(randn(25).reshape((5,5)), index = ['A','B','D','E','F'],columns = ['col1', 'col2', 'col3 ', 'col4', 'col5'])

In [17]:
drame

       col1      col2     col3       col4      col5
A  1.107040  2.153463  2.220471  1.191113 -0.615751
B -1.863135 -0.100680  0.317716 -0.223076 -0.652133
D -0.890068 -0.134524  1.334610  1.024317 -1.648897
E  1.338809  0.866390  0.536233 -0.844625 -0.487413
F -1.386616 -0.440784  0.666105 -0.912177 -0.258971

In [18]:
 new_index = ['A','B','C','D','E','F']

In [19]:
drame2 = drame.reindex(new_index)

In [20]:
drame2

       col1      col2     col3       col4      col5
A  1.107040  2.153463  2.220471  1.191113 -0.615751
B -1.863135 -0.100680  0.317716 -0.223076 -0.652133
C       NaN       NaN       NaN       NaN       NaN
D -0.890068 -0.134524  1.334610  1.024317 -1.648897
E  1.338809  0.866390  0.536233 -0.844625 -0.487413
F -1.386616 -0.440784  0.666105 -0.912177 -0.258971

In [21]:
new_columns = ['col1', 'col2', 'col3 ', 'col4', 'col5','col6']
drame2.reindex(columns = new_columns)

       col1      col2     col3       col4      col5  col6
A  1.107040  2.153463  2.220471  1.191113 -0.615751   NaN
B -1.863135 -0.100680  0.317716 -0.223076 -0.652133   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.890068 -0.134524  1.334610  1.024317 -1.648897   NaN
E  1.338809  0.866390  0.536233 -0.844625 -0.487413   NaN
F -1.386616 -0.440784  0.666105 -0.912177 -0.258971   NaN