In [20]:
import pandas as pd

In [28]:
<img　src="./lec28.png">

SyntaxError: invalid non-printable character U+3000 (3866921438.py, line 1)

In [29]:
dframe = pd.read_excel('Lec_28_test.xlsx', sheet_name='Sheet1')

In [30]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365