In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame(np.arange(4*4).reshape(4,4),
                  )

In [3]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
blender = np.array([0,3,2,1])

In [6]:
dframe.take(blender)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11
1   4   5   6   7

In [7]:
blender = np.random.permutation(4)

In [8]:
blender

array([1, 0, 2, 3])

In [12]:
box = np.array(list('ABC'))
box

array(['A', 'B', 'C'], dtype='<U1')

In [13]:
shaker = np.random.randint(0, len(box), size=10)

In [14]:
shaker

array([0, 0, 1, 0, 0, 2, 2, 1, 2, 2])

In [15]:
len(box
   )

3

In [17]:
hand_grabs = box.take(shaker)
hand_grabs

array(['A', 'A', 'B', 'A', 'A', 'C', 'C', 'B', 'C', 'C'], dtype='<U1')

In [21]:
len(box)

3