In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj=Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas=Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

In [10]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [11]:
ww2_cas['USA']

400000

In [ ]:
ww2_cas[ww2_cas>400000]

In [1]:
ww2_cas>0

NameError: name 'ww2_cas' is not defined

In [12]:
'USSR' in ww2_cas

True

In [13]:
ww2_dict=ww2_cas.to_dict()

In [14]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [15]:
ww2_Series=Series(ww2_dict)

In [16]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [17]:
countries=['USSR','Germany','China','Japan','USA','Argentina']

In [18]:
obj2=Series(ww2_dict,index=countries)

In [19]:
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [20]:
pd.notnull(obj2)

USSR          True
Germany       True
China         True
Japan         True
USA           True
Argentina    False
dtype: bool

In [21]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [27]:
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [ ]:
ww2_Series+obj2

In [22]:
obj2.name='第二次世界大戦の死傷者'

In [23]:
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [24]:
obj2.index.name='Countries'